<ion-card>
  <ion-card-header>
    <ion-card-title>Login</ion-card-title>
    <ion-card-subtitle>Secure Storage Demo (Angular)</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <div>
      <ion-button id="signin-button" expand="full" color="primary" (click)="signIn()"
        >Sign In
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
    </div>

    @if (showSessionLocking) {
      <div class="ion-padding ion-text-center">
        <ion-checkbox [(ngModel)]="useSessionLocking" (ionChange)="useSessionLockingChanged()"
          >Use Session Locking</ion-checkbox
        >
      </div>
    }

    <div class="error-message ion-text-center">
      <div>{{ errorMessage }}</div>
    </div>
    <ion-loading [isOpen]="authenticating" message="Authenticating..."></ion-loading>
  </ion-card-content>
</ion-card>
