<ion-tabs>
  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="tea" href="/tabs/tea">
      <ion-label>Tea</ion-label>
      <ion-icon aria-hidden="true" name="leaf"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tasting-notes" href="/tabs/tasting-notes">
      <ion-label>Tasting Notes</ion-label>
      <ion-icon aria-hidden="true" name="document-text"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="about" href="/tabs/about">
      <ion-label>About</ion-label>
      <ion-icon aria-hidden="true" name="information-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
