<ion-tabs>
  <ion-tab-bar color="tertiary" slot="bottom">
    <ion-tab-button tab="tea">
      <ion-label>Tea</ion-label>
      <ion-icon name="leaf"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tasting-notes">
      <ion-label>Tasting Notes</ion-label>
      <ion-icon name="document-text"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-label>About</ion-label>
      <ion-icon name="information-circle"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
