# NOTE: If you want to run tests and they are not working, uncomment settings below and run `pnpm i`
#       For regular builds and dev, comment both lines and `pnpm i` for best results
# node-linker=hoisted
# shamefully-hoist=true
