<!-- eslint @angular-eslint/template/click-events-have-key-events: off, @angular-eslint/template/interactive-supports-focus: off -->
<ion-content class="ion-text-center main-content">
  @if (canUnlock) {
    <div class="unlock-app" (click)="unlock()" data-testid="unlock-button">
      <ion-icon name="lock-open-outline"></ion-icon>
      <div>Unlock</div>
    </div>

    <div class="unlock-app" (click)="redo()" data-testid="redo-button">
      <ion-icon name="arrow-redo-outline"></ion-icon>
      <div>Redo Sign In</div>
    </div>
  } @else {
    @if (displayLockingOptions) {
      <ion-list class="ion-padding" data-testid="locking-options">
        <ion-radio-group [(ngModel)]="unlockMode">
          <ion-list-header>
            <ion-label> Session Locking </ion-label>
          </ion-list-header>

          @for (unlockMode of unlockModes; track unlockMode.mode) {
            <ion-item>
              <ion-radio [value]="unlockMode.mode">{{ unlockMode.label }}</ion-radio>
            </ion-item>
          }
        </ion-radio-group>
      </ion-list>
    }

    <div class="unlock-app" (click)="signIn()" data-testid="signin-button">
      <ion-icon name="log-in-outline"></ion-icon>
      <div>Sign In</div>
    </div>
  }

  <div class="error-message">
    <div>{{ errorMessage$ | async }}</div>
  </div>
</ion-content>
