<ion-content class="ion-text-center">
  <ion-card>
    <ion-card-content>
      <ion-card-title>The Playground is Locked</ion-card-title>

      <ion-button class="unlock-button" expand="full" fill="clear" (click)="unlock()" data-testid="unlock-button">
        <ion-icon slot="end" name="lock-open-outline"></ion-icon>
        <div>Unlock</div>
      </ion-button>

      <ion-button expand="full" color="secondary" (click)="redo()" data-testid="redo-button">
        <ion-icon slot="end" name="arrow-redo-outline"></ion-icon>
        <div>Redo Sign In</div>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
