<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Device Information</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/vault-control"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Device Information</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Biometric Strength</ion-label>
      <ion-note slot="end">{{ biometricStrength }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Secure Hardware</ion-label>
      <ion-note slot="end">{{ hasSecureHardware }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Biometrics Allowed</ion-label>
      <ion-note slot="end">{{ isBiometricsAllowed }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Biometrics Supported</ion-label>
      <ion-note slot="end">{{ isBiometricsSupported }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Biometrics Enabled</ion-label>
      <ion-note slot="end">{{ isBiometricsEnabled }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Privacy Screen</ion-label>
      <ion-note slot="end">{{ isPrivacyScreenEnabled }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>System Passcode</ion-label>
      <ion-note slot="end">{{ isSystemPasscodeSet }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Locked Out</ion-label>
      <ion-note slot="end">{{ isLockedOutOfBiometrics }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button
          data-testid="toggle-privacy-button"
          expand="block"
          (click)="togglePrivacy()"
          [disabled]="!canTogglePrivacyScreen"
          >Toggle Privacy Screen</ion-button
        >
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button
          data-testid="show-biometrics-button"
          expand="block"
          [disabled]="!isBiometricsEnabled || isBiometricsAllowed !== 'granted'"
          (click)="showBiometricPrompt()"
          >Show Biometrics Prompt</ion-button
        >
      </ion-label>
    </ion-item>
  </ion-list>

  <div>
    <p>Available Biometric Hardware:</p>
    @if (availableHardware.length) {
      <ul>
        @for (h of availableHardware; track h) {
          <li>{{ h }}</li>
        }
      </ul>
    } @else {
      <ul>
        <li>None</li>
      </ul>
    }
  </div>
</ion-content>
