<ion-header>
  <ion-toolbar>
    <ion-title> About Auth Playground </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" data-testid="logout-button">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>About</ion-list-header>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-note slot="end">{{name}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Author</ion-label>
      <ion-note slot="end">{{author}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Version</ion-label>
      <ion-note slot="end">{{version}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Auth Connect</ion-label>
      <ion-note slot="end">{{authConnectVersion}}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Identity Vault</ion-label>
      <ion-note slot="end">{{identityVaultVersion}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
