<ion-tabs>
  <ion-tab-bar slot="bottom" color="tertiary">
    <ion-tab-button tab="tea-list" href="/tabs/tea-list">
      <ion-icon aria-hidded="true" name="leaf-outline"></ion-icon>
      <ion-label>Teas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vault-control" href="/tabs/vault-control">
      <ion-icon aria-hidded="true" name="settings-outline"></ion-icon>
      <ion-label>Vault Control</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/about">
      <ion-icon aria-hidded="true" name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
