<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tea"></ion-back-button>
    </ion-buttons>
    <ion-title>Tea Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding main-content">
  <div *ngIf="tea$ | async as tea">
    <div class="ion-justify-content-center" style="display: flex">
      <ion-img [src]="tea?.image"></ion-img>
    </div>
    <h1 data-testid="name">{{ tea?.name }}</h1>
    <p data-testid="description">{{ tea?.description }}</p>
    <app-rating [(ngModel)]="rating" (click)="changeRating(tea)"></app-rating>
  </div>
</ion-content>
